---
title: Scott Blissett Portfolio
---

<div class="image-gradient-dynamic">
  <img src="./img/bg.png" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <h1>Scott Blissett</h1>
    <p>Digital Designer</p>
    <p class="social-list">
      <span><a href="#"><i class="fa fa-envelope"></i></a></span>
      <span><a href="#"><i class="fa fa-twitter"></i></a></span>
      <span><a href="#"><i class="fa fa-github"></i></a></span>
      <span><a href="#"><i class="fa fa-tumblr"></i></a></span>
    </p>
  </div>
</div>
